/* Fonts for KABUKI Sushi */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Archivo+Narrow:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Serif+JP:wght@200;300;400;500&family=Inter:wght@300;400;500;600&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
